input, textarea {
    outline: none;
}

textarea {
    resize: none;
    font-size: 14px;
    overflow: hidden;
}

.inline-edit {
    /* Eliminate borders and padding*/
    border: solid 1px white;
    padding: 5px;
    margin: 3px 3px 3px 50px;
    background-color: white;
}

textarea.inline-edit {
    width: 60%;
}

/* Add interaction cues on hover and focus */
input:hover,
textarea:hover {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

input:focus,
textarea:focus {
    border-color: rgb(164, 217, 255);
}

.new-task {
    padding-right: 5px;
}

.new-task .btn {
}

.widget {
    background-color: rgb(164, 217, 255);
    margin: 20px 50px 100px 50px;
    padding: 10px;
}

.task-txt {
    width: 60%;
    margin: 0 5px 5px 50px;
    padding: 5px;
    outline: none;
}

.task-txt:focus {
    box-shadow: 0 0 5px rgba(50, 200, 255, 0.5);
}

.btn {
    background-color: white;
    border: solid 1px;
    border-color: darkcyan;
    padding: 5px 4px 5px 4px;
    margin: 3px;
}

.disabled {
    background-color: lightgrey;
}

.btn:hover {
    border-color: cornflowerblue;
}

.save-btn {
}

.finish-btn {
    float: right;
}

.task-item {
    background-color: white;
    margin-top: 5px;
    padding-right: 5px;
}

.finished textarea {
    text-decoration: line-through;
    box-shadow: none !important;
    border: none !important;
}

.delete-btn {
    float: right;
}

.reopen-btn {
    float: right;
}

.task-items-wrapper {
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
}

input.assign {
    width: 10%;
    margin-left: 2px;
    padding: 5px;
}

.ui-autocomplete, .task-properties {
    font-size: 12px;
}