.inline-edit {
    /* Eliminate borders and padding*/
    height: auto;
    width: 70%;
    border: solid 1px white;
    padding: 5px;
    margin: 3px 3px 3px 50px;
    background-color: inherit;
}

/* Add interaction cues on hover and focus */
.inline-edit:hover {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.inline-edit:focus {
}

.new-task {
    padding-right: 5px;
}

.new-task .btn {
}

.widget {
    background-color: rgb(164, 217, 255);
    margin: 20px 50px 100px 50px;
    padding: 10px;
}

.task-txt {
    width: 70%;
    margin: 0px 5px 5px 50px;
    outline: none;
}

.task-txt:focus {
    box-shadow: 0 0 5px rgba(50, 200, 255, 0.5);
}

.btn {
    background-color: white;
    border: solid 1px;
    border-color: darkcyan;
    padding: 1px 4px 1px 4px;
    margin: 3px;
}

.btn:hover {
    border-color: cornflowerblue;
}

.save-btn {
    float: right;
}

.finish-btn {
    float: right;
}

.task-item {
    background-color: white;
    margin-top: 5px;
    padding-right: 5px;
}

textarea.finished {
    text-decoration: line-through;
}

.delete-btn {
    float: right;
}

.task-items-wrapper {
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
}