textarea {
    overflow: hidden;
}

.finished textarea {
    text-decoration: line-through;
    box-shadow: none !important;
    border: none !important;
}

.task-item input.ng-invalid,
.task-item textarea.ng-invalid {
    border: 1px solid rgba(255, 0, 0, 0.32);
}

.task-item textarea.ng-invalid ~ .save-btn,
.task-item textarea.ng-invalid ~ .finish-btn,
.task-item input.ng-invalid ~ .assign-btn,
.new-task textarea.ng-invalid ~ .new-task-btn {
    display: none;
}

.error {
    display: none;
    color: rgba(255, 0, 0, 0.83);
}

.ng-invalid-td-existent-user ~ span.error {
    display: inline;
}