input.inline-edit {
    /* Eliminate borders and padding*/
    width: 70%;
    border-style: solid;
    border-color: white;
    /*border: solid 1px white;*/
    padding: 5px;
    margin: 3px 3px 3px 50px;
    background-color: inherit;
}

/* Add interaction cues on hover and focus */
input.inline-edit:hover,
input.inline-edit:focus {
    border-color: orange;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.new-task {
}

.new-task .btn {
    float: right;
}

.widget {
    background-color: rgb(114, 190, 255);
    margin: 20px 50px 100px 50px;
    border-radius: 10px;
    padding: 10px;
}

input.task-txt {
    width: 70%;
    margin: 0px 5px 5px 50px;
    outline: none;
}

input.task-txt:focus {
    box-shadow: 0 0 5px rgba(50, 200, 255, 0.5);
}

.btn {
    background-color: white;
    border: solid 1px;
    border-color: darkcyan;
    padding: 1px 4px 1px 4px;
    margin: 3px;
}

.btn:hover {
    border-color: cornflowerblue;
}

.save-btn {
    float: right;
}

.finish-btn {
    float: right;
}

.task-item {
    background-color: white;
    margin-top: 5px;
}

input.finished {
    text-decoration: line-through;
}

.delete-btn {
    float: right;
}

.task-items-wrapper {
    padding-top: 10px;
}