<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title ng-bind="customAppTitle != null ? customAppTitle : defaultAppTitle || 'Todo List'"></title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>

<body>

<!--libraries-->
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>

<!-- Include -->
<script type="text/javascript" src="script/service/tasklist-back.js"></script>
<script type="text/javascript" src="script/controller/tasklist-front.js"></script>
<script type="text/javascript" src="./script/app.js"></script>
<script type="text/javascript" src="script/utils.js"></script>

<div class="widget" ng-controller="widgetController">

    <form name="newTaskForm" novalidate ng-submit="addTask();">
        <div class="new-task">
            <textarea required ng-model='description' name="description" class="task-txt new-task-txt" rows=1
                      placeholder="Enter your task description"></textarea>

            <input ng-model='assignee' class='assign inline-edit' placeholder="Assign to">

            <input type="submit" class="btn new-task-btn" value="New task"
                   ng-disabled="newTaskForm.description.$invalid">
        </div>
    </form>

    <div class="widget-properties">
        <input type="checkbox" id="only-assigned-checkbox"/>
        <label for="only-assigned-checkbox"><b>My tasks assigned to others</b></label>
    </div>
    <div class="task-items-wrapper">
        <div ng-show='items.length == 0' class="no-tasks">There are no tasks available to you yet</div>

        <div ng-repeat="item in items" class="task-item {{item.task.status}}" id="{{item.task.id}}">
            <form name="taskItemForm" novalidate>
                <div class="task-properties ui-widget">
                    {{item.task.creationDate.toLocaleDateString()+" "+item.task.creationDate.toLocaleTimeString()}}
                    <span><b>Assigned to:</b></span>
                    <input name="assignee" ng-show="item.access.edit" class='assign inline-edit' placeholder="Assign to"
                           ng-model="item.task.assignee">
                    <input type="submit" class="btn assign-btn" ng-click="reassignTask(item)" value="Assign"
                           ng-show="item.access.edit">
                </div>

                <textarea required name="description" class="inline-edit" rows=1
                          ng-model="item.task.description"
                          ng-focus="item.descriptionBkp = item.task.description;"
                          ng-readonly="!item.access.edit"></textarea>

                <input type="submit" class="btn save-btn" ng-click="saveDescription(item)" value="Save"
                       ng-disabled="taskItemForm.description.$invalid" ng-show="item.access.edit">
                <input type="submit" class="btn cancel-btn" ng-click="restoreDescription(item)" value="Cancel"
                       ng-show="item.access.edit">
                <input type="submit" class="btn delete-btn" ng-click="deleteTask(item);" value="Delete"
                       ng-show="item.access.delete">
                <input type="submit" class="btn reopen-btn" ng-click="reopenTask(item);" value="Re-open"
                       ng-show="item.access.reopen">
                <input type="submit" class="btn finish-btn" ng-click="finishTask(item);" value="Finish"
                       ng-disabled="taskItemForm.description.$invalid" ng-show="item.access.finish">
            </form>
        </div>

    </div>
</div>

</body>
</html>