<div class="widget" ng-controller="widgetController">

    <form name="newTaskForm" novalidate ng-submit="addTask();">
        <div class="new-task">
            <textarea required ng-model='description' name="description" class="task-txt new-task-txt" rows=1
                      td-auto-rows
                      ng-trim="false"
                      placeholder="Enter your task description"></textarea>

            <input ng-model='assignee' class='assign inline-edit' placeholder="Assign to">

            <input type="submit" class="btn new-task-btn" value="New task">
        </div>
    </form>

    <div class="widget-properties">
        <input type="checkbox" id="assigned-by-me" ng-model="assignedByMe"/>
        <label for="assigned-by-me"><b>Tasks assigned by me</b></label>
    </div>

    <div ui-view></div>
</div>