<div class="widget" ng-controller="widgetController">

    <form name="newTaskForm" novalidate ng-submit="addTask();">
        <div class="new-task">
            <textarea required ng-model='description' name="description" class="task-txt new-task-txt" rows=1 auto-rows
                      placeholder="Enter your task description"></textarea>

            <input ng-model='assignee' class='assign inline-edit' placeholder="Assign to">

            <input type="submit" class="btn new-task-btn" value="New task">
        </div>
    </form>

    <div class="widget-properties">
        <input type="checkbox" id="only-assigned-checkbox" ng-model="onlyAssigned"/>
        <label for="only-assigned-checkbox"><b>My tasks assigned to others</b></label>
    </div>

    <div ui-view></div>
</div>